.serif{
    font-family: serif;
}

.sans{
    font-family: 'Roboto', sans-serif;
}

.mono{
    font-family: monospace;
}

.w400{
    font-weight: 400;
    font-stretch: condensed;
}

.s-it{
    font-style: italic;
}

.s-ob{
    font-size: 14px;
}